<!-- content开始 -->
  <!-- PAGE HEADER开始-->
  <h3 class="page-title">
  {{pageheader}}
  </h3>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a ui-sref="tenant">{{pageheaderTitle}}</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a ui-sref="tenant">{{pageheaderChildTitle}}</a>
      </li>
    </ul>
  </div>
  <!-- PAGE HEADER结束-->
  <div class="row">
    <div class="col-md-12">
      
    </div>
  </div>
<!-- content结束 -->
