<!-- content开始 -->
  <!-- PAGE HEADER开始-->
  <h3 class="page-title">
  {{pageheader}}
  </h3>
  <div class="page-bar">
    <ul class="page-breadcrumb">
      <li>
        <i class="fa fa-home"></i>
        <a ui-sref="tenant">{{pageheaderTitle}}</a>
        <i class="fa fa-angle-right"></i>
      </li>
      <li>
        <a ui-sref="tenant">{{pageheaderChildTitle}}</a>
      </li>
    </ul>
  </div>
  <!-- PAGE HEADER结束-->
  <div class="row">
    <div class="col-md-12">
      <a class="k-button k-button-icontext k-grid-add" data-toggle="modal" href="#tenant"><span class="k-icon k-add"></span>新增租户</a>
      <div kendo-grid="grid" k-options="mainGridOptions"></div>
      <!-- 子表格模板 -->
      <script type="text/x-kendo-template" id="template">
        <div>
            <div kendo-grid k-options="detailGridOptions(dataItem)"></div>
        </div>
      </script>
      <!-- 详细信息模板 -->
      <div class="well" ng-show="detail">
        <div class="row">
          <div class="col-md-6">
            <div class="form-group">
              <label class="control-label col-md-3">租户名称：</label>
              <div class="col-md-9">
                {{name}}
              </div>
            </div>
          </div>
          <!--/span-->
        </div>
      </div>
      <!-- /详细信息模板 -->
    </div>
  </div>
<!-- content结束 -->
<!-- 模板 -->
<!-- /.modal -->
  <div class="modal fade" id="tenant" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-full">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
          <h4 class="modal-title">新增租户</h4>
        </div>
        <div class="modal-body">
            <!-- BEGIN FORM-->
              <form class="form-horizontal" name="tenantForm" novalidate >
                <div class="form-body">
                  <div class="row">
                    <div class="col-md-6">
                      <div class="form-group">
                        <label class="control-label col-md-3">租户名称*</label>
                        <div class="col-md-7">
                          <input type="text" name="name" class="form-control" placeholder="租户名称" ng-model="tenant.name" required>
                        </div>
                        <div class="col-md-2 alert alert-danger well-sm" ng-show="tenantForm.name.$dirty&&tenantForm.name.$invalid">
                            <span>名称不能为空!</span>
                        </div>
                      </div>
                    </div>
                    <!--/span-->
                  </div>
                  <!--/row-->
                  <div class="row" ng-show="success">
                    <div class="col-md-6 col-md-offset-3">
                      <div class="alert alert-success">
                        <strong>保存成功</strong>
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                  <div class="row" ng-show="error">
                    <div class="col-md-6 col-md-offset-3">
                      <div class="alert alert-danger">
                        <strong>保存失败</strong>
                      </div>
                    </div>
                  </div>
                  <!--/row-->
                </div>
              </form>
            <!-- END FORM-->
        </div>
        <div class="modal-footer">
          <button type="button" class="btn blue" ng-click="update(tenant)" ng-disabled="tenantForm.$invalid">保存</button>
          <button type="button" class="btn default" ng-click="reset()">重置</button>
        </div>
      </div>
      <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
  </div>
<!-- /.modal -->
